*{
  
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    
}
.image img{
    width: 30%;
    margin-left: 30px;
    margin-top: 20px;
}
.header_list li{
    list-style: none;
    margin: 0 18px;
    padding: 0 12px;
    color: gray;
}
.header_list li:hover{
    color: black;
    cursor: pointer
}
.head{
    display: flex;
    margin-left: 50px;
   
}
.header_list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
.but button{
    margin-top: 20px;
}
.but button{
    background-color: #04ddb2;
    color: white;
    border: none;
    padding: 5px 7px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
}
.but button:hover{
    transform: scale3d(1.05,1.05,1.05);
    text-decoration: none;
}
.list{
    margin: 20px;
}
.manu{
    display: flex;
}
section{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
    background-color: gray;
}
. section video{
    width: 60%;
    height: 470px;
    margin: auto;
   
    padding: 40px;
    border-radius: 24px;
    position: relative;
}
.heading{
    text-align: center;
    font-size: large;
    font-weight: 400;
}
.heading1{
    text-align: center;
    font-size: medium
}
.span{
    color: #00fbff;
}
.heading3{
    text-align: center;
    font-weight: 700;
    font-size: large;
}
.section2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
   
}
button{
    width: 30%;
    margin-left: 13rem;
    margin-right: auto;
    border: 1px solid #04ddb2 ;
    border-radius: 30px;
    padding: 5px;
    background-color:#04ddb2;
    margin-top: 50px;
    margin-bottom: 30px;

   
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    line-height: 1.0cm;
    margin: 0 auto;
    width: 80%;
}
.footer-logo{
    height: 20px;
}
footer i{
    background-color: #04ddb2;
    color: white;
    border-radius: 50%;
    padding: 6px;
    font-size: 20px;
    margin-right: 10px;
}
footer i:hover{
    transform: scale3d(1.05,1.05,1.05);
    text-decoration: none;
    font-size: 24px;
}
footer a{
    color: black;
}
.bold{
    font-weight: bold;
}
.app{
    text-align: center;
    padding: 40px;
    width: 500px;
}
.app h1{
    font-size: 70px;
}
footer ul li{
    font-size: small;
    list-style: none;
}
